{% extends 'layout.njk' %}
{% block head_defalut %}
{% endblock %}
{% block head %}
<link rel='stylesheet' href='/css/campus.css'>
<link rel='stylesheet' href='/css/course-system.css'>
{% endblock %}
{% block content %}
{% include "./common/header.njk" %}
<div class="wrapper">
  <div class="content-banner adult">
    <img src="images/campus/campus_banner.jpg" alt="world_map">
    <div class="form-box">
      <form class="form-content">
        <p>立即领取免费体验课</p>
        <div class="name">
          <input class="with-icon fl" id="adult-name" type="text" name="" value="" placeholder="姓名">
          <div class="form-pic fl">
            <img src="/images/adult-course/user_icon.png" alt="">
          </div>
        </div>
        <div class="age">
          <input class="with-icon fl" id="adult-age" type="text" name="" value="" placeholder="年龄">
          <div class="form-pic pic-age fl">
            <img src="/images/adult-course/user_icon.png" alt="">
          </div>
        </div>
        <ul id="accordion" class="accordion">
          <li>
            <div class="link">
              <span>选择校区</span>
            </div>
            <ul class="submenu">
              <li>
                <div class="link">
                  <p>The ONE国际钢琴艺术（北京校区）</p>
                </div>
                <ul class="submenu">
                  <li>
                    <a class="campus-item" value="1">月恒直营校区</a>
                  </li>
                  <li>
                    <a class="campus-item" value="4">测试校区1</a>
                  </li>
                </ul>
              </li>
              <li>
                <div class="link">
                  <p>The ONE国际钢琴艺术（上海校区）</p>
                </div>
                <ul class="submenu">
                  <li>
                    <a class="campus-item" value="2">黄埔</a>
                  </li>
                  <li>
                    <a class="campus-item" value="3">浦东</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <input id="adult-mobile" type="text" name="" value="" placeholder="请输入手机号">
        <div class="captcha">
          <input class="with-captcha" id="adult-captcha" width="100px" type="text" name="" value="" placeholder="请输入验证码">
          <button id="get-captcha" type="button" onclick="getCode(this)">获取验证码</button>
          <button id="reset-captcha" style="display:none;"><span id="time-captcha">60</span>秒后重发</button>
        </div>
        <button id="submit" type="button">点击领取</button>
      </form>
    </div>
  </div>
  <div class="g-wrap content-wrapper spread-wrapper">
    <div class="content-div map">
      <div class="box-title white">
        <h1>校区分布</h1>
      </div>
      <div class="map-pic map">
        <img src="images/map.png" alt="world_map">
        <img class="more" src="images/campus/more_campus.png" alt="">
      </div>
    </div>
    <div class="content-div campus">
      <div class="campus-address">
        <div class="campus-area">
          <p class="fl">The ONE国际钢琴艺术（北京校区）</p>
          <img class="fl" src="/images/campus/map_icon.png" alt="">
        </div>
        <img src="images/campus/line.png" alt="line">
        <div class="campus-names">
          <div class="campus-item fl">
            <h3>月恒直营校区</h3>
            <p>地址：丰台六里桥南月恒新生活广场二层</p>
            <p>报名电话:400-680-3000</p>
          </div>
          <div class="campus-item fl">
            <h3>月恒直营校区</h3>
            <p>地址：丰台六里桥南月恒新生活广场二层</p>
            <p>报名电话:400-680-3000</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-div campus">
      <div class="campus-address">
        <div class="campus-area">
          <p class="fl">The ONE国际钢琴艺术（上海校区）</p>
          <img class="fl" src="/images/campus/map_icon.png" alt="">
        </div>
        <img src="images/campus/line.png" alt="line">
        <div class="campus-names">
          <div class="campus-item fl">
            <h3>怡丰城直营校区</h3>
            <p>地址：上海市闵行区七莘路1507号</p>
            <p>报名电话:400-680-3000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "./common/fixed-bar.njk" %}
{% endblock %}
{% include "./common/footer.njk" %}
</body>
</html>