<!DOCTYPE html>
<html>
<head>
{% block head_default %}
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name='viewport' content='width=device-width'>
<link rel="stylesheet" href="/css/common/swiper.min.css">
<link rel="stylesheet" href="/css/common/common.css">
{% endblock %}
{% block head %}
{% endblock %}
</head>
<body>
<div class="wrapper">
{% include "./common/helper.njk" %}
{% block content %}
{% endblock %}
{% include "./common/footer.njk" %}
</div>
{% block js_default %}
<script src="/js/jquery.min.js"></script>
<script src="/js/swiper-4.1.6.min.js"></script>
<script src="/js/videoPlayer.js"></script>
<script src="/js/common.js"></script>
{% endblock %}
{% block js %}
{% endblock %}
<script>
</script>
</body>
</html>
