module.exports = {
  port: 12306,
  origin: 'https://localhost:3000',
  emailSender: {
    user: 'xxx@xxx.com',
    pass: 'xxxxxxx',
    name: '发件人名'
  },
  database: {
    type: 'mysql',
    database: 'music_center',
    host: '127.0.0.1',
    username: 'root',
    password: '123456',
    prefix: 'front_',
    port: '3306'
  },
  redis: {
    host: '127.0.0.1',
    port: '6379'
  },
  sms: {
    url: 'http://sms.1tai.com',
    sms_path: '/send'
  }
}
