<div class="fixed-bar" style="z-index:999">
  <div class="g-wrap">
    <div class="left-bar fl">
      <p>免费领取价值<span>388元</span>的体验课</p>
    </div>
    <div class="right-bar fr">
      <button class="fl back-to-top" type="">点击领取</button>
      <img class="fl back-to-top" src="/images/fixed_bar_click.png" alt="">
    </div>
  </div>
</div>