<div class="g-ft">
  <div class="footer-content">
    <div class="ft-fl fl">
      <ul>
        <li>
          <h4>关于我们</h4>
          <a href="/brand-story">企业背景</a>
          <a href="/brand-story">公司历程</a>
          <a>新闻动态</a>
        </li>
        <li>
          <h4>关注我们</h4>
          <div class="ft-wechat-item" id="wechat-public">
            <a>官方公众号</a>
            <img src="/images/wechat_ft.png" alt="">
            <div class="ft-pop-public">
              <img src="/images/public_qr.jpg" alt="">
            </div>
          </div>
          <div class="ft-wechat-item" id="wechat-service" style="margin-top:12px;">
            <a>官方服务号</a>
            <img src="/images/wechat_ft.png" alt="">
            <div class="ft-pop-service">
              <img src="/images/service_qr.jpg" alt="">
            </div>
          </div>
          <br>
          <a class="fl" style="margin-top:-10px;">官方微博</a>
        </li>
        <li>
          <h4>加入我们</h4>
          <div class="recruit-item" >
            <a target="_blank" class="fl" href="https://company.zhaopin.com/CZ219078830.htm">智联招聘</a>
            <img class="fr" src="/images/zhilian.png" alt="">
          </div>
          <div class="recruit-item">
            <a target="_blank" href="https://jobs.51job.com/all/co5229564.html">前程无忧</a>
            <img class="fr" src="/images/51job.png" alt="">
          </div>
          <div class="recruit-item">
            <a target="_blank" href="https://www.zhipin.com/gongsir/327cb8c62e14bdc01HV93tq1Fg%7E%7E.html?ka=company-jobs">BOSS直聘</a>
            <img class="fr" src="/images/boss.png" alt="">
          </div>
          <a>简历投递邮箱</a>
          <a>hr.qinyue@xiaoyezi.com</a>
        </li>
      </ul>
    </div>
    <div class="ft-fr fr">
      <ul>
        <li>
          <h4>直营校区</h4>
          <div class="campus-link">
            <a>北京直营校区</a>
            <a id="campus-bj">
              <img src="/images/arrow.png" alt="arrow">
            </a>
            <div class="campus-list cl-bj">
              <div class="campus-list-item">
                <div class="campus-name">
                  <p>月恒直营校区</p>
                </div>
                <div class="campus-detail">
                  <p>地址：丰台六里桥南月恒新生活广场二层</p>
                  <p>报名电话:400-680-3000</p>
                </div>
              </div>
              <div class="campus-list-item">
                <div class="campus-name">
                  <p>月恒直营校区</p>
                </div>
                <div class="campus-detail">
                  <p>地址：丰台六里桥南月恒新生活广场二层</p>
                  <p>报名电话:400-680-3000</p>
                </div>
              </div>
            </div>
          </div>
          <div class="campus-link">
           <a>上海直营校区</a>
            <a id="campus-sh">
              <img src="/images/arrow.png" alt="arrow">
            </a>
            <div class="campus-list cl-sh">
              <div class="campus-list-item">
                <div class="campus-name">
                  <p>怡丰城直营校区</p>
                </div>
                <div class="campus-detail">
                  <p>地址：上海市闵行区七莘路1507号</p>
                  <p>报名电话:400-680-3000</p>
                </div>
              </div>
            </div>
          </div>
          <div class="campus-link">
           <a>长沙直营校区</a>
            <a id="campus-cs">
              <img src="/images/arrow.png" alt="arrow">
            </a>
          </div>
          <div class="campus-link">
           <a>重庆直营校区</a>
            <a id="campus-cq">
              <img src="/images/arrow.png" alt="arrow">
            </a>
          </div>
        </li>
        <li>
          <h4>直营校区时间</h4>
          <p>周一至周五</p>
          <p>10:00-22:00</p>
          <p>周六至周日</p>
          <p>08:00-22:00</p>
        </li>
        <li>
          <h4>报名热线</h4>
          <div class="tel"></div>
          <div class="index-button">
            <a>在线咨询</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-content bottom">
    <h4>友情链接</h4>
    <ul>
      <li>
        <a href="http://www.1tai.com/product.html">智能钢琴商店</a>
        <a href="http://www.1tai.com/my.html">用户说</a>
        <a href="http://www.1tai.com/tiyan">体验点</a>
        <a href="http://www.xiongmaopeilian.com/web/index?from=9">熊猫钢琴陪练</a>
        <a>熊猫学钢琴</a>
        <a href="http://celebration.1tai.com">钢琴盛典</a>
      </li>
    </ul>
  </div>
</div>