<nav class="g-hd g-nav1" style="z-index: 999;">
  <div class="top-nav">
    <div class="left-nav">
      <li class="logo">
        <a class="" href="/"></a>
      </li>
      <li><a href="/">首页</a></li>
      <li><a href="./course-system">课程体系</a></li>
      <li><a href="./course-feature">课程特色</a></li>
      <li><a href="./brand-story">品牌故事</a></li>
      <li><a href="./campus">校区分布</a></li>
      <li><a href="./adult-course">成人课程</a></li>
    </div>
    <div class="right-nav">
      <li class="wechat">
        <div class="pop">
          <img src="/images/public_qr.jpg" alt="">
        </div>
      </li>
      <li class="weibo"></li>
      <li class="tel"></li>
      <li class="tel-number">报名热线 400-680-3000</li>
    </div>
  </div>
</nav>