<div class="helper" style="z-index:999;">
  <div class="helper-item tel-helper">
    <img src="/images/helper_tel.png" alt="">
    <p>电话咨询</p>
  </div>
  <div class="helper-item online-helper">
    <img src="/images/helper_online.png" alt="">
    <p>在线咨询</p>
  </div>
</div>