<div class="g-wrap stars-say">
  <div class="content-box">
    <div class="box-title">
      <h1>名人都选The ONE</h1>
    </div>
    <div class="box-item">
      <div class="star-left fl">
        <div class="star-swiper-container swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-item fl">
                <img src="/images/index/1.png" alt="">
                <div class="star-desc">
                  <h2>郎朗</h2>
                  <p>国际著名钢琴家</p>
                  <br>
                  <p><span>让孩子在兴趣中爱上弹琴，在快乐 中得到专业技能的培养，这就是The ONE在做的事。学钢琴，从The ONE 开始。</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="star-swiper-button-prev swiper-button-prev"></div>
          <div class="star-swiper-button-next swiper-button-next"></div>
        </div>
      </div>
      <div class="star-right fl">
        <img src="/images/index/stars_say.png" alt="">
      </div>
    </div>
  </div>
</div>