<div class="g-wrap">
  <div class="content-box">
    <div class="box-title">
      <h1>名人推荐：学钢琴从The ONE开始</h1>
    </div>
    <div class="box-item top">
      <div class="box fl">
        <a id="play-langlang"><img src="/images/index/langlang.png"></a>
      </div>
      <div class="box fr">
        <h2>郎朗</h2>
        <p>让孩子在兴趣中爱上弹琴，在快乐中得到专业技能的培养，这就是The ONE在做的事。学钢琴，从The ONE 开始。</p>
      </div>
    </div>
    <div class="box-item down">
      <div class="box fl">
         <h2>李开复</h2>
        <p>The ONE在做的是一个音乐生态 体系，能够普及中国乃至全球的音乐教育，将会让全世界的人在快乐中学习钢琴。</p>
      </div>
      <div class="box fr">
        <a id="play-likaifu"><img src="/images/index/likaifu.png"></a>
      </div>
    </div>
  </div>
</div>